<div class="container">

  <p><a href="<%= root_path %>" class="btn-accueil">Accueil</a> / <a href="<%= flowers_path %>" class="btn-accueil">Fleurs</a> / <%= @flower.name %></p>

  <div class="home_services">
      <div class="home_card_photo">
        <%= cl_image_tag @flower.image.key %>
        </div>
      <div class="home_card_info">
          <h1><%= @flower.name %></h1>
          <br/>
          <p><%= @flower.description %></p>
          <br/>
          <p>Prix: <%= @flower.price %>€</p>
          <br/>
          <%= form_for @join_table_flower_cart do |f| %>
                  <%= f.hidden_field :flower_id, value: @flower.id %>
                  <%# <%= f.hidden_field :cart_id, value: current_user.cart.id %>
                  <button type="submit" class="green-btn">Ajouter au panier</button>
          <% end %>
       </div>
    </div>

    <div class="boutique-text">
      <h6>Besoin de précisions ? Des envies ?</h6>
         <h6>Appelez- nous à la boutique, nous vous conseillerons : 04.78.37.38.29</h6>
    </div>

</div>


    <%# <a href="<%= edit_flower_path" class="btn btn-warning">Modifier</a> %>
    <%# <a href="<%= flower_path(@flower.id) " class="btn btn-danger" data-confirm="Êtes-vous sûr de vouloir supprimer cet article ?" data-method="DELETE">Supprimer</a> %>
