  <nav>
    <div class="container">
      <div class="essaie">
          <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo.jpg", width:250, :class =>"style_logo") %></a>
            <ul>
              <li class="deroulant"><%= link_to "Notre maison  ", about_path %>
                <ul class="sous">
              <li><%= link_to "Notre histoire", about_path(:anchor => "histoire") %></li>
                <li><%= link_to "Notre équipe", about_path(:anchor => "presentation") %></li>
                <li><%= link_to "Notre référence", about_path(:anchor => "confiance") %></li>
                  </ul>
              </li>
            </ul>
        <ul><li class="deroulant"><%= link_to "Nos services", service_path  %></li></ul>
            <ul>
            <li class="deroulant"><%= link_to "Boutique en ligne", boutique_path %>
                <ul class="sous">
                  <li><%= link_to "Fleur", flowers_path %></li>
                  <li><%= link_to "lumière", about_path %></li>
                  <li><%= link_to "Atelier DIY", about_path %></li>
                  <li><%= link_to "Objets et vases", about_path %></li>
                  </ul>
              </li>
            </ul>
        <ul><li class="deroulant"><%= link_to "Contact", new_contact_path%></li></ul>

        <% if user_signed_in? %>
        <%# <ul><li class="deroulant"><%= link_to "Nouvel article", new_flower_path  </li></ul> %>
          <ul><li class="deroulant"><%= link_to "Mon panier", cart_path(current_user.cart.id) %>
            <% if !@flowers_in_cart.nil? && @flowers_in_cart.count > 0 %>
                <% total_flowers = []
                  @flowers_in_cart.each do |flower_choosed|
                      flower_quantity = flower_choosed.quantity
                      total_flowers << flower_quantity
                  end %>
                <span class="badge badge-pill badge-success"><%= total_flowers.inject(0){|sum,x| sum + x }%></span>
            <% else %>
                <span class="badge badge-pill badge-success">0</span>
              <% end %></li></ul>
        <ul><li class="deroulant"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li></ul>
        <% else %>
            <ul>
              <li class="deroulant"><%= link_to "Connexion", new_user_session_path %>
                <ul class="sous">
                    <li><%= link_to "Sign in", new_user_session_path %></li>
                    <li> <%= link_to "Sign up", new_user_registration_path %></li>
                  </ul>
              </li>
            </ul>
        <% end %>
        </div>
    </div>
</nav>
