<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo.jpg", :class =>"style_logo") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <a class="nav-link" href="<%= root_path >Accueil<span class="sr-only">(current)</span></a>
      </li> %>
    <span class="navbar-text nav-link">
    <%= link_to "Notre maison", about_path %>
    </span>
    <span class="navbar-text nav-link">
    <%= link_to "Nos services", service_path %>
    </span>
     <span class="navbar-text nav-link">
    <%= link_to "Boutique en ligne", boutique_path %>
    </span>
    </ul>
    <% if user_signed_in? %>
    <span class="navbar-text nav-link">
    <%= link_to "Nouvel article", new_flower_path  %>
    </span>
    <span class="navbar-text nav-link">
      <%= link_to "Mon panier", cart_path(current_user.cart.id) %>
        <% if @flowers_in_cart.count > 0 %>
            <% total_flowers = []
              @flowers_in_cart.each do |flower_choosed|
                  flower_quantity = flower_choosed.quantity
                  total_flowers << flower_quantity
              end %>
            <span class="badge badge-pill badge-info"><%= total_flowers.inject(0){|sum,x| sum + x }%></span>
        <% else %>
            <span class="badge badge-pill badge-info">0</span>
          <% end %>
    </span>
    <span class="navbar-text nav-link">
    <%= link_to "Mon compte", flowers_path %>
    </span>
    <span class="navbar-text nav-link">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </span>
    <% else %>
    <span class="navbar-text nav-link">
    <%= link_to "Sign in", new_user_session_path %>
    </span>
    <span class="navbar-text nav-link">
    <%= link_to "Sign up", new_user_registration_path %>
    </span>
    <% end %>
  </div>
</nav>
