<h1 class="main_title">ABONNEMENTS...</h1>

<div class="container">
  <div class="abonnement-text">
    <h5><em><u>Particuliers et professionnels</u></em> : apportons de la chaleur avec des fleurs des saisons chaque semaine.</h5>
    <h5><em><u>Hôtellerie</u></em> : hôtel de charme ou grand hôtel, élégance traditionnelle ou design contemporain, quelque soit votre univers, nous créerons ensemble une décoration florale unique pour votre hôtel.</h5>
  </div>

  <div class="exemple-photos">
    <div class="two-photos">
      <div class="abonnement-photos"><%= image_tag "page_abonnement/plusieurs.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/vasevert.jpg"%></div>
    </div>
  </div>

  <div class="exemple-photos">
    <div class="three-photos">
      <div class="abonnement-photos"><%= image_tag "page_abonnement/vase.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/deco.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/nature.jpg"%></div>
    </div>
  </div>

  <div class="exemple-photos">
    <div class="three-photos">
      <div class="abonnement-photos"><%= image_tag "page_abonnement/cadre.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/palmier.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/table.jpg"%></div>
    </div>
  </div>

  <div class="exemple-photos">
    <div class="three-photos">
      <div class="abonnement-photos"><%= image_tag "page_abonnement/bleu.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/violet.jpg"%></div>
      <div class="abonnement-photos"><%= image_tag "page_abonnement/longuebleu.jpg"%></div>
    </div>
  </div>



</div>
