<div class="container">

  <h1 class="main_title">Une histoire de FAMILLE...</h1>

    <div class="home_services">
        <div class="home_card_photo">
              <%= image_tag "clemence.jpg"%>
          </div>
      <div class="home_card_info">
          <div class="home_card_texte", id="histoire">
            <h3>AMARYLICE</h3>
            <p>Fondée en 1990 par Lili, Amarylice est devenu une Maison familiale avec aujourd'hui Martine sa fille et Clémence sa petite-fille.</p>
            <p>Aujourd'hui 10 fleuristes qualifiés, forment une équipe soudée, prête à vous accompagner tant dans le choix de vos bouquets de fleurs quotidiens que la décoration florale de vos évènements professionnels et familiaux.</p>
            <p>Découvrez notre famille d'artistes aux différentes personnalités qui apportent leur savoir-faire pour une équipe accomplie.</p>
          </div>
      </div>
    </div>

    <h4 class="other_title", id="presentation">Rencontrez notre équipe</h4>

    <div class="all_team_two">
      <div class="each_one">
          <div class="team_photo">
            <%= image_tag "avatar.png"%>
          </div>
          <div class="team_text">
            <h5><em>Martine</em></h5>
            <p>En plus de 30 ans, Martine a su fonder et fédérer une équipe devenue une vraie famille, pour qui elle reste une référence.</p>
          </div>
      </div>

      <div class="each_one">
       <div class="team_photo">
            <%= image_tag "avatar.png"%>
        </div>
       <div class="team_text">
          <h5><em>Clémence</em></h5>
          <p>Née chez Amarylice, Clémence a évolué dans ce monde de douceur et d'émotions... Imprégniée de cette atmosphère, elle se plaira à vous accompagner dans vos projets.</p>
        </div>
      </div>
    </div>

    <div class="all_team_three">
      <div class="each_one">
         <div class="team_photo">
            <%= image_tag "avatar.png"%>
        </div>
       <div class="team_text">
          <h5><em>Agathe</em></h5>
          <h6><em>Amarylicienne depuis 13 ans</em></h6>
          <p>Contemporaine, curieuse, audacieuse et déterminée, Agathe organise rigoureusement vos évènements. Son dynamisme et sa créativité vous accompagnera pour sublimer vos plus belles réceptions.</p>
        </div>
      </div>

      <div class="each_one">
          <div class="team_photo">
            <%= image_tag "avatarh.png"%>
        </div>
       <div class="team_text">
          <h5><em>Frédéric</em></h5>
          <h6><em>Amarylicien depuis 24 ans</em></h6>
          <p>Fleuriste qualifié et véritable passionné de la nature, Frédéric se plaît à créer de véritables petits coins de paradis pour vos extérieurs, en mêlant connaissances horticoles et réel talent de décorateur.</p>
        </div>
      </div>

      <div class="each_one">
         <div class="team_photo">
            <%= image_tag "avatarh.png"%>
        </div>
       <div class="team_text">
          <h5><em>Pierre-Alexis</em></h5>
          <h6><em>Amarylicien depuis 15 ans</em></h6>
          <p>Artiste débordant de créativité et de convivialité, Pierre-Alexis imagine depuis des décors originaux pour vous surprendre. Son jardin secret ? Ses arbres dans vos maisons...</p>
        </div>
      </div>
    </div>

    <div class="all_team_four">
      <div class="each_one">
        <div class="team_photo">
            <%= image_tag "avatarh.png"%>
        </div>
        <div class="team_text">
          <h5><em>Albéric</em></h5>
          <h6><em>Amarylicien depuis 10 ans</em></h6>
          <p>Installateur efficace et amoureux de la fleur, Albéric livre vos fleurs en mettant un point d'honneur à vous donner des conseils pour un soin optimal.</p>
        </div>
      </div>

        <div class="each_one">
          <div class="team_photo">
              <%= image_tag "avatarh.png"%>
          </div>
          <div class="team_text">
            <h5><em>Philippe</em></h5>
            <h6><em>Amarylicien depuis 15 ans</em></h6>
            <p>Professeur d'art floral  et ce technicien hors-pair, Philippe réalisera pour vous des décors sur mesure, selon vos envies les plus inattendues !</p>
          </div>
        </div>

        <div class="each_one">
          <div class="team_photo">
              <%= image_tag "avatar.png"%>
          </div>
          <div class="team_text">
            <h5><em>Ciska</em></h5>
            <h6><em>Amarylicienne depuis 6 ans</em></h6>
            <p>Après un apprentissage intensif au sein de notre équipe, nous avons adopté son dynamisme et sa rigueur. Sa connaissance du monde végétal lui permet de vous accompagner dans le choix de votre plantes. Polyvalente, elle réalisera également de somptueux bouquets pour le plaisir des yeux. </p>
          </div>
        </div>

        <div class="each_one">
          <div class="team_photo">
              <%= image_tag "avatarh.png"%>
          </div>
          <div class="team_text">
            <h5><em>Julien</em></h5>
            <h6><em>Amarylicien depuis 1 ans</em></h6>
            <p>Jeune Amarylicien, Julien vous séduira par sa bonne humeur et son dynamisme. Livreur de choc et aux petits soins pour vos terrasses, il sera ravi de vous apporter fleurs et végétaux dans vos maisons et bureaux.</p>
          </div>
        </div>

    </div>


    <h4 class="other_title", id="confiance">Ils nous font confiance..</h4>
    <p>Ville de Lyon, Chambre de commerce et d’Industrie de Lyon...</p>
    <p>La Réserve de Genève, Château de Bagnols, La Réserve de Beaulieu sur Mer, Le Royal Lyon, Villa Maïa, Maison Bernachon, Nicolas Fafiotte Couture, Maison Pignol, Serge Magner Traiteur, Restaurant Paul Bocuse, Relais et Châteaux Pierre Orsi, Restaurant Têtedoie,  Grand Café des Négociants...</p>
    <p>Banque Populaire, Mérieux, Sodexo, Cegid, Boeringer Ingelheim, Olympique Lyonnais, Sanofi...</p>
</div
