<h1 class="main_title">DECORATION ET FLEURS PERENNES...</h1>

<div class="container">

  <div class="service-text">
    <h5><em><u>En boutique </u></em> : sélection d'objets de décoration insolites en boutique (vases, statues, bougies et idées cadeaux), de fleurs pérennes haut de gamme</h5>
    <h5><em><u>Sur mesure</u></em> : nous venons chez vous pour recréer l'ambiance de votre intérieur ou apporter la touche finale...</h5>
    </div>

  <div class="event-photo">
    <div class="exemple-photos">
        <div class="two-shared-photos">
            <div class="abonnement-photos"><%= image_tag "page_deco/un.jpg"%></div>
            <div class="abonnement-photos"><%= image_tag "page_deco/deux.jpg"%></div>
            <div class="abonnement-photos"><%= image_tag "page_deco/trois.jpg"%></div>
            <div class="abonnement-photos"><%= image_tag "page_deco/quatre.jpg"%></div>
          </div>

        <div class="one-photo">
          <div class="abonnement-photos"><%= image_tag "page_deco/cinq.jpg"%></div>
        </div>
    </div>

  </div>


</div>
