<h1 class="main_title">DECORS DE NOEL...</h1>

<div class="container">

  <div class="service-text">
    <h5>De la décoration de vos sapins de Noël, vos tables de fête, à la création d'une ambiance féérique pour vos hôtels, sans oublier les devantures de vos boutiques, notre équipe est là pour vous émerveiller...</h5>
    </div>

    <div class="event-photo">
      <div class="exemple-photos">
          <div class="two-photos">
              <div class="abonnement-photos"><%= image_tag "page_noel/un.jpg"%></div>
              <div class="abonnement-photos"><%= image_tag "page_noel/deux.jpg"%></div>
              <div class="abonnement-photos"><%= image_tag "page_noel/trois.jpg"%></div>
              <div class="abonnement-photos"><%= image_tag "page_noel/quatre.jpg"%></div>
          </div>

        <div class="three-photos">
            <div class="abonnement-photos"><%= image_tag "page_noel/cinq.jpg"%></div>
            <div class="abonnement-photos"><%= image_tag "page_noel/six.jpg"%></div>
            <div class="abonnement-photos"><%= image_tag "page_noel/sept.jpg"%></div>
          </div>


      </div>
    </div>


</div>
