<h1 class="main_title">Nos services...</h1>

  <div class="all_services">

      <div class="services">
            <div class="service_card_photo">
                  <%= image_tag "abonnement.jpg"%>
              </div>
              <div class="service_card_info">
                <div class="service_card_texte">
                  <h3>Abonnements</h3>
                    <br>
                  <p>Professionnels ou particuliers, offrez vous un abonnement floral pour faire évoluer votre intérieur au fil des semaines et des saisons.</p>
                  <p>Abonnement floral naturel, pérenne ou végétal, hebdomadaire ou mensuel... A vous de choisir ce qui vous ressemble.</p>
                </div>
                 <br>
                  <div class="red-btn">
                    <%= link_to "en savoir plus", service_path %>
                  </div>
            </div>
      </div>

      <div class="services">
              <div class="service_card_photo">
                    <%= image_tag "mariage.jpg"%>
                </div>
          <div class="service_card_info">
              <div class="service_card_texte">
                <h3>Mariages</h3>
                  <br>
                <p>Pour que tout soit parfait le plus beau jour de votre vie, Amarylice vous accompagne par ses conseils, son écoute, son expérience, dans vos choix, afin de vous permettre de profiter au maximum de cette magnifique journée.</p>
              </div>
               <br>
                <div class="red-btn">
                  <%= link_to "en savoir plus", service_path %>
                </div>
            </div>
      </div>

      <div class="services">
            <div class="service_card_info">
              <div class="service_card_texte">
                <h3>Evenements</h3>
                  <br>
                <p>Amarylice vous accompagne dans l'organisation de vos évènements, qu'il s'agisse de projets professionnels, ou familiaux.</p>
                <p>Des projets sur mesure, du décor de vos buffets à la création d'ambiances uniques.</p>
              </div>
               <br>
                <div class="red-btn">
                  <%= link_to "en savoir plus", service_path %>
                </div>
              </div>
              <div class="service_card_photo">
                    <%= image_tag "evenement.jpg"%>
                </div>
      </div>

      <div class="services">
            <div class="service_card_info">
              <div class="service_card_texte">
                <h3>Aménagement végétal</h3>
                  <br>
                <p>Extérieurs ou intérieurs ? Bureaux, maisons ou terrasses ? Faisons entrer la nature chez vous !</p>
                <p>Réinventons ensemble votre nouvel endroit préféré...</p>
              </div>
               <br>
                <div class="red-btn">
                  <%= link_to "en savoir plus", service_path %>
                </div>
              </div>
              <div class="service_card_photo">
                    <%= image_tag "amenagement.jpg"%>
                </div>
      </div>

      <div class="services">
            <div class="service_card_photo">
                  <%= image_tag "deco.jpg"%>
              </div>
              <div class="service_card_info">
                <div class="service_card_texte">
                  <h3>Décoration et Fleurs pérennes</h3>
                  <br>
                  <p>Pour apporter la touche finale à votre intérieur ou faire plaisir à vos proches, nous sélectionnons des objets insolites, vases et fleurs pérennes haut de gamme. Nous vous attendons en boutique...</p>
                  <p>Un service de décoration d'intérieur sur mesure ? Nous venons chez vous..</p>
                </div>
                 <br>
                  <div class="red-btn">
                    <%= link_to "en savoir plus", service_path %>
                  </div>
            </div>
      </div>

         <div class="services">
            <div class="service_card_photo">
                  <%= image_tag "noel.jpg"%>
              </div>
              <div class="service_card_info">
                <div class="service_card_texte">
                  <h3>Noël</h3>
                    <br>
                  <p>Imaginons un univers faisant briller les yeux des petits comme des grands...</p>
                  <p>Hôtels, bureaux, restaurants, boutiques ou tout simplement pour vos maisons... Nous créerons sur mesure vos décors de Noël.</p>
                  <p>Sélection unique en boutique...</p>
                </div>
                 <br>
                  <div class="red-btn">
                    <%= link_to "en savoir plus", service_path %>
                  </div>
            </div>
      </div>


  </div>
