<h1 class="main_title">MARIAGES...</h1>

<div class="container">
  <div class="service-text">
      <h5><em>Que vous ayez déjà défini vos envies ou que vous soyez au commencement de votre projet, nous vous écouterons et répondrons à vos questions pour réaliser la décoration florale de votre mariage : bouquet de mariée, décoration de vos lieux de récéption et cérémonies laïques ou religieuses...</em></h5>
    </div>

  <div class="wedding-photo">
    <div class="two-photos">
        <div class="abonnement-photos"><%= image_tag "page_wedding/deux.jpg"%></div>
        <div class="abonnement-photos"><%= image_tag "page_wedding/un.jpg"%></div>
      </div>
    </div>

    <div class="exemple-photos">
      <div class="three-photos">
        <div class="abonnement-photos"><%= image_tag "page_wedding/trois.jpg"%></div>
        <div class="abonnement-photos"><%= image_tag "page_wedding/quatre.jpg"%></div>
        <div class="abonnement-photos"><%= image_tag "page_wedding/cinq.jpg"%></div>
      </div>
    </div>

    <div class="exemple-photos">
      <div class="one-photo">
        <div class="abonnement-photos"><%= image_tag "page_wedding/six.jpg"%></div>
      </div>
    </div>
</div>
